<nav class="navbar navbar-default navbar-fixed-top">
    <a *ngIf = "currentUser" class="navbar-brand">Bienvendido {{currentUser.username}}</a>
    <a *ngIf = "!currentUser" class="navbar-brand">Autentiquese para gestionar los posts</a>
    <ul *ngIf = "currentUser"class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{currentUser.username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
    
            <!-- this dropdown menu item looks right -->
            <li><a href="#">Foo</a></li>
    
            <!-- this dropdown menu item (a logout form) does not -->
            <li><button (click)="logout()" class="btn btn-link navbar-btn navbar-link">Log off</button></li>
    
          </ul>
        </li>
      </ul>
</nav>