<div *ngIf="message_object" 
      class="alert alert-dismissible div_mensajes" 
      role="alert"
      [ngClass]="message_object.class"
      >
     {{message_object.text}}
</div>


<div class="panel panel-primary" style="clear:both">
  <div class="panel-heading">CRUD Posts</div>
  <div class="panel-body">
      <div class="seccion_menu">
        <a routerLink="/posts/new" class="pull-left btn btn-primary">Nuevo Post</a>
        <input [formControl]="searchField" class="pull-right form-control input_busqueda_post" name="input_busqueda_post" placeholder="Buscar por titulo">  
      </div>
      <div class="seccion_tabla">  
          <table class="table table-bordered table-striped">
            <thead>
                <tr>
                  <th>Id</th>
                  <th class="col-xs-3">Titulo</th>
                  <th class="col-xs-6">Contenido</th>
                  <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of page_posts; index as i">
                <td> <span class="badge">{{post.id}}</span></td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                <td [ngSwitch]="post.is_delete">
                  <div class="btn-group" *ngSwitchDefault >
                      <button (click)="detailPost(post)"class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
                      <button (click)="toogleDelete(post)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                  </div>
                  <div class="btn-group" *ngSwitchCase="true"> 
                    <button (click)="toogleDelete(post)"class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
                    <button (click)="deletePost(post)" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span></button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot></tfoot>
          </table>
          </div>
          <div>
                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(1)">First</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                  </li>
                  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                      <a (click)="setPage(page)">{{page}}</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)">Next</a>
                  </li>
                  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.totalPages)">Last</a>
                  </li>
              </ul>
          </div>
  </div>
</div>